# shellcheck disable=SC2148
if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

export DIRENV_WARN_TIMEOUT=20s


direnv_layout_dir() {
    echo "$PWD/.direnv/$(hostname)"
}

watch_file .nix/flake.nix
watch_file .nix/flake.lock
watch_file .nix/devenv.nix
watch_file uv.lock

mkdir -p "$PWD/.devenv"
DEVENV_ROOT_FILE="$PWD/.devenv/root"
printf %s "$PWD" > "$DEVENV_ROOT_FILE"
if ! use flake path:./.nix --override-input devenv-root "file+file://$DEVENV_ROOT_FILE"
then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi