html[data-theme="light"] .highlight pre { line-height: 125%; }
html[data-theme="light"] .highlight td.linenos .normal { color: #4c4f69; background-color: #e6e9ef; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos { color: #4c4f69; background-color: #e6e9ef; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight td.linenos .special { color: #4c4f69; background-color: #e6e9ef; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos.special { color: #4c4f69; background-color: #e6e9ef; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight .hll { background-color: #ccd0da }
html[data-theme="light"] .highlight { background: #eff1f5; color: #4c4f69 }
html[data-theme="light"] .highlight .c { color: #7c7f93 } /* Comment */
html[data-theme="light"] .highlight .err { color: #4c4f69 } /* Error */
html[data-theme="light"] .highlight .g { color: #4c4f69 } /* Generic */
html[data-theme="light"] .highlight .k { color: #8839ef } /* Keyword */
html[data-theme="light"] .highlight .l { color: #4c4f69 } /* Literal */
html[data-theme="light"] .highlight .n { color: #4c4f69 } /* Name */
html[data-theme="light"] .highlight .o { color: #04a5e5 } /* Operator */
html[data-theme="light"] .highlight .x { color: #4c4f69 } /* Other */
html[data-theme="light"] .highlight .p { color: #7c7f93 } /* Punctuation */
html[data-theme="light"] .highlight .ch { color: #7c7f93 } /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm { color: #7c7f93 } /* Comment.Multiline */
html[data-theme="light"] .highlight .cp { color: #ea76cb } /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf { color: #7c7f93 } /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 { color: #7c7f93 } /* Comment.Single */
html[data-theme="light"] .highlight .cs { color: #7c7f93 } /* Comment.Special */
html[data-theme="light"] .highlight .gd { color: #d20f39 } /* Generic.Deleted */
html[data-theme="light"] .highlight .ge { color: #4c4f69; text-decoration: underline } /* Generic.Emph */
html[data-theme="light"] .highlight .ges { color: #4c4f69 } /* Generic.EmphStrong */
html[data-theme="light"] .highlight .gr { color: #4c4f69 } /* Generic.Error */
html[data-theme="light"] .highlight .gh { color: #4c4f69; font-weight: bold } /* Generic.Heading */
html[data-theme="light"] .highlight .gi { color: #4c4f69; font-weight: bold } /* Generic.Inserted */
html[data-theme="light"] .highlight .go { color: #9ca0b0 } /* Generic.Output */
html[data-theme="light"] .highlight .gp { color: #4c4f69 } /* Generic.Prompt */
html[data-theme="light"] .highlight .gs { color: #4c4f69 } /* Generic.Strong */
html[data-theme="light"] .highlight .gu { color: #4c4f69; font-weight: bold } /* Generic.Subheading */
html[data-theme="light"] .highlight .gt { color: #4c4f69 } /* Generic.Traceback */
html[data-theme="light"] .highlight .kc { color: #8839ef } /* Keyword.Constant */
html[data-theme="light"] .highlight .kd { color: #8839ef; font-style: italic } /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn { color: #8839ef } /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp { color: #ea76cb } /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr { color: #8839ef } /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt { color: #df8e1d } /* Keyword.Type */
html[data-theme="light"] .highlight .ld { color: #4c4f69 } /* Literal.Date */
html[data-theme="light"] .highlight .m { color: #fe640b } /* Literal.Number */
html[data-theme="light"] .highlight .s { color: #40a02b } /* Literal.String */
html[data-theme="light"] .highlight .na { color: #40a02b } /* Name.Attribute */
html[data-theme="light"] .highlight .nb { color: #d20f39; font-style: italic } /* Name.Builtin */
html[data-theme="light"] .highlight .nc { color: #df8e1d } /* Name.Class */
html[data-theme="light"] .highlight .no { color: #4c4f69 } /* Name.Constant */
html[data-theme="light"] .highlight .nd { color: #4c4f69 } /* Name.Decorator */
html[data-theme="light"] .highlight .ni { color: #4c4f69 } /* Name.Entity */
html[data-theme="light"] .highlight .ne { color: #df8e1d } /* Name.Exception */
html[data-theme="light"] .highlight .nf { color: #1e66f5 } /* Name.Function */
html[data-theme="light"] .highlight .nl { color: #179299; font-style: italic } /* Name.Label */
html[data-theme="light"] .highlight .nn { color: #4c4f69 } /* Name.Namespace */
html[data-theme="light"] .highlight .nx { color: #4c4f69 } /* Name.Other */
html[data-theme="light"] .highlight .py { color: #4c4f69 } /* Name.Property */
html[data-theme="light"] .highlight .nt { color: #1e66f5 } /* Name.Tag */
html[data-theme="light"] .highlight .nv { color: #4c4f69; font-style: italic } /* Name.Variable */
html[data-theme="light"] .highlight .ow { color: #8839ef } /* Operator.Word */
html[data-theme="light"] .highlight .pm { color: #7c7f93 } /* Punctuation.Marker */
html[data-theme="light"] .highlight .w { color: #4c4f69 } /* Text.Whitespace */
html[data-theme="light"] .highlight .mb { color: #fe640b } /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf { color: #fe640b } /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh { color: #fe640b } /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi { color: #fe640b } /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo { color: #fe640b } /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa { color: #40a02b } /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb { color: #40a02b } /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc { color: #40a02b } /* Literal.String.Char */
html[data-theme="light"] .highlight .dl { color: #40a02b } /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd { color: #40a02b } /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 { color: #40a02b } /* Literal.String.Double */
html[data-theme="light"] .highlight .se { color: #ea76cb } /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh { color: #40a02b } /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si { color: #40a02b } /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx { color: #40a02b } /* Literal.String.Other */
html[data-theme="light"] .highlight .sr { color: #ea76cb } /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 { color: #40a02b } /* Literal.String.Single */
html[data-theme="light"] .highlight .ss { color: #d20f39 } /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp { color: #d20f39; font-style: italic } /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .fm { color: #1e66f5 } /* Name.Function.Magic */
html[data-theme="light"] .highlight .vc { color: #df8e1d; font-style: italic } /* Name.Variable.Class */
html[data-theme="light"] .highlight .vg { color: #4c4f69; font-style: italic } /* Name.Variable.Global */
html[data-theme="light"] .highlight .vi { color: #4c4f69; font-style: italic } /* Name.Variable.Instance */
html[data-theme="light"] .highlight .vm { color: #4c4f69; font-style: italic } /* Name.Variable.Magic */
html[data-theme="light"] .highlight .il { color: #fe640b } /* Literal.Number.Integer.Long */
html[data-theme="dark"] .highlight pre { line-height: 125%; }
html[data-theme="dark"] .highlight td.linenos .normal { color: #cdd6f4; background-color: #181825; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos { color: #cdd6f4; background-color: #181825; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight td.linenos .special { color: #cdd6f4; background-color: #181825; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos.special { color: #cdd6f4; background-color: #181825; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight .hll { background-color: #313244 }
html[data-theme="dark"] .highlight { background: #1e1e2e; color: #cdd6f4 }
html[data-theme="dark"] .highlight .c { color: #9399b2 } /* Comment */
html[data-theme="dark"] .highlight .err { color: #cdd6f4 } /* Error */
html[data-theme="dark"] .highlight .g { color: #cdd6f4 } /* Generic */
html[data-theme="dark"] .highlight .k { color: #cba6f7 } /* Keyword */
html[data-theme="dark"] .highlight .l { color: #cdd6f4 } /* Literal */
html[data-theme="dark"] .highlight .n { color: #cdd6f4 } /* Name */
html[data-theme="dark"] .highlight .o { color: #89dceb } /* Operator */
html[data-theme="dark"] .highlight .x { color: #cdd6f4 } /* Other */
html[data-theme="dark"] .highlight .p { color: #9399b2 } /* Punctuation */
html[data-theme="dark"] .highlight .ch { color: #9399b2 } /* Comment.Hashbang */
html[data-theme="dark"] .highlight .cm { color: #9399b2 } /* Comment.Multiline */
html[data-theme="dark"] .highlight .cp { color: #f5c2e7 } /* Comment.Preproc */
html[data-theme="dark"] .highlight .cpf { color: #9399b2 } /* Comment.PreprocFile */
html[data-theme="dark"] .highlight .c1 { color: #9399b2 } /* Comment.Single */
html[data-theme="dark"] .highlight .cs { color: #9399b2 } /* Comment.Special */
html[data-theme="dark"] .highlight .gd { color: #f38ba8 } /* Generic.Deleted */
html[data-theme="dark"] .highlight .ge { color: #cdd6f4; text-decoration: underline } /* Generic.Emph */
html[data-theme="dark"] .highlight .ges { color: #cdd6f4 } /* Generic.EmphStrong */
html[data-theme="dark"] .highlight .gr { color: #cdd6f4 } /* Generic.Error */
html[data-theme="dark"] .highlight .gh { color: #cdd6f4; font-weight: bold } /* Generic.Heading */
html[data-theme="dark"] .highlight .gi { color: #cdd6f4; font-weight: bold } /* Generic.Inserted */
html[data-theme="dark"] .highlight .go { color: #6c7086 } /* Generic.Output */
html[data-theme="dark"] .highlight .gp { color: #cdd6f4 } /* Generic.Prompt */
html[data-theme="dark"] .highlight .gs { color: #cdd6f4 } /* Generic.Strong */
html[data-theme="dark"] .highlight .gu { color: #cdd6f4; font-weight: bold } /* Generic.Subheading */
html[data-theme="dark"] .highlight .gt { color: #cdd6f4 } /* Generic.Traceback */
html[data-theme="dark"] .highlight .kc { color: #cba6f7 } /* Keyword.Constant */
html[data-theme="dark"] .highlight .kd { color: #cba6f7; font-style: italic } /* Keyword.Declaration */
html[data-theme="dark"] .highlight .kn { color: #cba6f7 } /* Keyword.Namespace */
html[data-theme="dark"] .highlight .kp { color: #f5c2e7 } /* Keyword.Pseudo */
html[data-theme="dark"] .highlight .kr { color: #cba6f7 } /* Keyword.Reserved */
html[data-theme="dark"] .highlight .kt { color: #f9e2af } /* Keyword.Type */
html[data-theme="dark"] .highlight .ld { color: #cdd6f4 } /* Literal.Date */
html[data-theme="dark"] .highlight .m { color: #fab387 } /* Literal.Number */
html[data-theme="dark"] .highlight .s { color: #a6e3a1 } /* Literal.String */
html[data-theme="dark"] .highlight .na { color: #a6e3a1 } /* Name.Attribute */
html[data-theme="dark"] .highlight .nb { color: #f38ba8; font-style: italic } /* Name.Builtin */
html[data-theme="dark"] .highlight .nc { color: #f9e2af } /* Name.Class */
html[data-theme="dark"] .highlight .no { color: #cdd6f4 } /* Name.Constant */
html[data-theme="dark"] .highlight .nd { color: #cdd6f4 } /* Name.Decorator */
html[data-theme="dark"] .highlight .ni { color: #cdd6f4 } /* Name.Entity */
html[data-theme="dark"] .highlight .ne { color: #f9e2af } /* Name.Exception */
html[data-theme="dark"] .highlight .nf { color: #89b4fa } /* Name.Function */
html[data-theme="dark"] .highlight .nl { color: #94e2d5; font-style: italic } /* Name.Label */
html[data-theme="dark"] .highlight .nn { color: #cdd6f4 } /* Name.Namespace */
html[data-theme="dark"] .highlight .nx { color: #cdd6f4 } /* Name.Other */
html[data-theme="dark"] .highlight .py { color: #cdd6f4 } /* Name.Property */
html[data-theme="dark"] .highlight .nt { color: #89b4fa } /* Name.Tag */
html[data-theme="dark"] .highlight .nv { color: #cdd6f4; font-style: italic } /* Name.Variable */
html[data-theme="dark"] .highlight .ow { color: #cba6f7 } /* Operator.Word */
html[data-theme="dark"] .highlight .pm { color: #9399b2 } /* Punctuation.Marker */
html[data-theme="dark"] .highlight .w { color: #cdd6f4 } /* Text.Whitespace */
html[data-theme="dark"] .highlight .mb { color: #fab387 } /* Literal.Number.Bin */
html[data-theme="dark"] .highlight .mf { color: #fab387 } /* Literal.Number.Float */
html[data-theme="dark"] .highlight .mh { color: #fab387 } /* Literal.Number.Hex */
html[data-theme="dark"] .highlight .mi { color: #fab387 } /* Literal.Number.Integer */
html[data-theme="dark"] .highlight .mo { color: #fab387 } /* Literal.Number.Oct */
html[data-theme="dark"] .highlight .sa { color: #a6e3a1 } /* Literal.String.Affix */
html[data-theme="dark"] .highlight .sb { color: #a6e3a1 } /* Literal.String.Backtick */
html[data-theme="dark"] .highlight .sc { color: #a6e3a1 } /* Literal.String.Char */
html[data-theme="dark"] .highlight .dl { color: #a6e3a1 } /* Literal.String.Delimiter */
html[data-theme="dark"] .highlight .sd { color: #a6e3a1 } /* Literal.String.Doc */
html[data-theme="dark"] .highlight .s2 { color: #a6e3a1 } /* Literal.String.Double */
html[data-theme="dark"] .highlight .se { color: #f5c2e7 } /* Literal.String.Escape */
html[data-theme="dark"] .highlight .sh { color: #a6e3a1 } /* Literal.String.Heredoc */
html[data-theme="dark"] .highlight .si { color: #a6e3a1 } /* Literal.String.Interpol */
html[data-theme="dark"] .highlight .sx { color: #a6e3a1 } /* Literal.String.Other */
html[data-theme="dark"] .highlight .sr { color: #f5c2e7 } /* Literal.String.Regex */
html[data-theme="dark"] .highlight .s1 { color: #a6e3a1 } /* Literal.String.Single */
html[data-theme="dark"] .highlight .ss { color: #f38ba8 } /* Literal.String.Symbol */
html[data-theme="dark"] .highlight .bp { color: #f38ba8; font-style: italic } /* Name.Builtin.Pseudo */
html[data-theme="dark"] .highlight .fm { color: #89b4fa } /* Name.Function.Magic */
html[data-theme="dark"] .highlight .vc { color: #f9e2af; font-style: italic } /* Name.Variable.Class */
html[data-theme="dark"] .highlight .vg { color: #cdd6f4; font-style: italic } /* Name.Variable.Global */
html[data-theme="dark"] .highlight .vi { color: #cdd6f4; font-style: italic } /* Name.Variable.Instance */
html[data-theme="dark"] .highlight .vm { color: #cdd6f4; font-style: italic } /* Name.Variable.Magic */
html[data-theme="dark"] .highlight .il { color: #fab387 } /* Literal.Number.Integer.Long */